:root {
    --background-color: rgb(25, 65, 75);
    --secondary-color: rgb(48, 114, 131);
    font-family: 'Courier New', Courier, monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

h1,
p {
    color: white;
}

body {
    display: flex;
    justify-content: center;

    background-color: var(--background-color);
}

main {
    margin: 1rem;
    padding: 1rem;
    width: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    background-color: var(--secondary-color);
}

main header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardGrid {
    width: 80%;
    aspect-ratio: 1;

    padding: 5px;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 1rem 1rem;
}

.cardGrid div {
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.cardGrid div:hover {
    outline: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

.cardGrid p {
    color: black;
}